@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

@theme {
  --color-onyx-gold: #B89B5E;
  --color-onyx-accent: #8A7244;
  --color-onyx-light: #E5D9C2;
  --color-onyx-dark: #0A0A0A;

  --animate-shimmer: shimmer 2s linear infinite;
  @keyframes shimmer {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }
}

:root {
  background-color: #0A0A0A;
  color: white;
}

body {
  margin: 0;
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
}
