@import "tailwindcss";

@theme {
  --color-onyx-gold: #FFD700;
  --color-onyx-purple: #8A2BE2;
  --color-onyx-blue: #0000FF;
  --color-onyx-dark: #0A0A0A;

  --animate-shimmer: shimmer 2s linear infinite;
  @keyframes shimmer {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }
}

:root {
  background-color: #0A0A0A;
  color: white;
}

body {
  margin: 0;
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
}
